@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');

* {
    box-sizing: border-box;
    font-family: raleway;
    color: #777;
}

html, body {
margin: 0;
padding: 0;
background-color: #f4f4f4;
}

main {
    padding: 2%;
}

.main-footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 1em;
}

.footer-content p {
  margin: 5px 0;
}

.footer-content a {
  color: #777;
  text-decoration: none; 
}

.footer-content a:hover {
  text-decoration: underline;
}

.comp-name {
  text-align: center;
  margin: 0;
  font-size: 4em;
  font-family: Grechen-fuemen;
  font-style: italic;
  font-weight: normal;
  color: white;   
}

header {
  background-color: #333;
  padding-bottom: 30px;
}

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: .5em;
  color: white;
  text-decoration: none;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, .3);
}

.main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.main-nav li {
  padding:0 3%;
}

.mini-intro {
display: flex;
justify-content: center;
background-color: white;
padding: 20px;
border-radius: 10px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
text-align: center;
width: 50%;  
align-items: center;
margin: 0 auto;
}

.kompetencer {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
    background-color: white;
    border-radius: 20px;
    width: 16%;
    max-width: 600px;
    padding: 15px 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}

.kompetencer-wrapper {
    display: flex;
    justify-content: space-between; 
    margin: 2em auto;
    padding: 2%;
    max-width: 80%; 
    background-color: white;
    color: black;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}

.storheds {
    flex: 0 0 45%; 
    background-color: #f5f0f0; 
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    text-align: center;
}


.kompetencer-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 20px 0;
    color: #333;
}
